*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
body,html{
    width: 100%;
}

/*header*/

header{
    width: 100%;
    height: 100px;
    background: #333;
}
.content{
    width: 1020px;
    height: 100%;
    margin: 0 auto;
    background: #999;
}
#logo{
    float: left;
    height: 100%;
}
#logo img{
    height: 100%;
}
#menu{
    height: 100%;
    float: right;
}
#menu li{
    float: left;
    background: #000;
    margin: 0 10px;
}
#menu li a{
    height: 30px;
    width: 75px;
    line-height: 100px;
    background: #fff;
    overflow: hidden;
}