*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
body,html{
    width: 100%;
}

/*header*/

header{
    width: 100%;
    height: 100px;
    background: #333;
}
.content{
    width: 1020px;
    height: 100%;
    margin: 0 auto;
    background: #999;
}
#logo{
    float: left;
    height: 100%;
}
#logo img{
    height: 100%;
}
#menu{
    height: 100%;
    float: right;
}
#menu ul{
    overflow: hidden;
}
#menu li{
    height: 50px;
    width: 110px;
    float: left;
    background: #000;
    margin-left: 20px;
    text-align: center;
    line-height: 50px;
}




#menu li a{
    color: #fff;
    /*line-height: 100px;*/
    /*background: #fff;*/
    /*overflow: hidden;*/
}