*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
body,html{
    width: 100%;
}

/*header*/

header{
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,0.2);
    /*position: fixed;*/
}
.container{
    width: 1020px;
    height: 100%;
    margin: 0 auto;
}
#logo{
    float: left;
    height: 100%;
}
#logo img{
    height: 50px;
    margin: 25px;
}
#menu{
    height: 100%;
    float: right;
}
#menu li{
    float: right;
    margin-left: 20px;
    margin-top: 25px;
}
#menu li a{
    width: 100px;
    height: 50px;
    background: #333;
    text-align: center;
    line-height: 50px;
    color: #fff;
    display: inline-table;
    border-radius: 5px;
}
#menu li a:hover{
    background: #ccc;
}

@media only screen and (max-width: 1020px){
    .container{
        width: 100%;
    }
}

@media only screen and (max-width: 702px){
    #logo{
        width: 100%;
        height: 100px;
        background: red;
    }
    #logo img{
        margin: 25px auto;
        display: block;
    }
}

/*轮播图*/

#slider .slider-stage{
    width: 100%;
    height: 700px;
    /*overflow: hidden;*/
    box-sizing: content-box;
}
#slider .slider-stage ul{
    width: 300%;
}
#slider .slider-stage li{
    float: left;
}
#slider .slider-stage img{
    height: 700px;
}


/*footer*/

footer{
    margin: 0 auto;
    line-height: 50px;
    padding-top: 50px;
}

/*icp-info*/

#icp-info{
    color: #777;
    clear: both;
    text-align: center;
}
#icp-info a{
    color: #777;
}
#icp-info a:hover{
    color: #333;
}